* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}

:root {
  --primary-color: rgb(53, 28, 117);
  --secondary-color: rgb(189, 96, 231);
}

html {
  font-size: 13px;
}
body {
  margin: 0 auto;
  padding: 40px 40px 0;
}

.layout {
  width: 60%;
  margin: 40px auto 0px;
}

#highscore {
  color: var(--secondary-color);
  cursor: pointer;
}

.panel {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 0.7rem;
  padding: 4px 9px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color);
}

.start-btn {
  margin: 5px 10px;
  font-size: 1.1rem;
  padding: 10px 14px;
  border-radius: 5px;
}

.welcome {
  font-size: 1rem;
  text-align: center;
}

.welcome p {
  margin: 10px 0 15px;
  font-size: 1.1rem;
}

.quiz-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.option {
  width: fit-content;
  padding: 5px 10px;
  background-color: var(--primary-color);
  margin: 5px 0px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.option:hover {
  background-color: var(--secondary-color);
}

.complete-part {
  width: 60%;
}

#quiz-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.quiz-part {
  margin-bottom: 20px;
}

.complete-part input {
  outline: none;
  padding-left: 5px;
  border: 1px solid rgb(192, 191, 191);
  height: 18px;
  font-size: 10px;
}

.complete-part input:focus {
  border: 1px solid rgb(40, 137, 167);
}
#quiz-form > * {
  margin: 5px 10px 0px 0;
}

.player-score {
  flex: 100%;
}

.high-score li {
  font-size: 0.7rem;
  background-color: rgb(217, 211, 233);
  margin: 5px 0;
  padding: 5px;
}

.backBtn {
  margin-right: 10px;
}

.answer {
  margin-top: 10px;
  font-style: italic;
  color: gray;
  padding: 5px 0 0 5px;
  border-top: 1px solid gray;
}

@media screen and (max-width: 768px) {
  .layout {
    width: 95%;
  }
}
